.itemListSlim {
  list-style: none;
  margin-left: 0;
  margin-bottom: 1rem !important;
  padding-left: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e3e3e3;

  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;

}

.itemListSlim a {
  color: black;
  text-decoration: none;
}

.medThumb {
  width: 200px;
  height: auto;
}

.noThumb {
  width: 150px;
  height: 150px;
  background-color: #e3e3e3;
}

.ttop {
  align-self: flex-start;
}

.hidden {
  display: none;
}

.vis {
  display: block;
}

.linkColor {
  color: #1e47cc !important;
}

.mb1 {
  margin-bottom: 1rem !important;
}

.mainTxt p:last-child {
  margin-bottom: 0;
}

.bReadmore{
  border: none;
}

.top1r {
  margin-top: 1rem;
}

.facetLayout {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.facets {
  width: 100%;
  max-width: 200px;
}

.facetItems{
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.facetItems button {
  border: none;
  background:none ;
  padding: 0;
  width: auto;
  text-align: left;
  font-size: 1rem;
  padding-bottom: .5rem;
  cursor: pointer;
}