<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OJnl home</title>
      <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/ojs-style.css">
      <link rel="shortcut icon" href="images/favicon/favicon.ico">
  </head>
  <body>

    <div class="ojPageWrap">

      <div class="layoutHome inWrap">
  <header class="ojHeader">
    <div class="ojLogo">
      <a href="oj-home.html" title="Go to homepage"><img src="images/ojs/logo-openjournals.png" alt=""></a>
    </div>
  
    <div class="ojLang"><a href="">NL</a><a href="">EN</a></div>
  
    <nav class="ojNav">
      <ul>
        <li><a href="">Journals</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Sponsors</a></li>
        <li><a href="">About</a></li>
      </ul>
    </nav>
  
  </header>

  <main class="ojHeroText">
    <h1>Openjournals provides a professional OpenAccess publishing platform for scholarly, peer-reviewed journals<span class="organgeFont">.</span></h1>
    <p>Learn more <a href="">about Openjournals.nl</a> | <a href="">See all journals</a></p>
  </main>


  <section class="ojNews topLine">
    <h2>News</h2>
    <ul class="itemsList">
      <li class="newsItem incCard">
        <div class="text">
          <small>2021-09-02	</small>
          <h3><a href="oj-volg.html">Kijk hier: Wat is de invloed van fossiele sponsoring op Nederlandse musea?</a></h3>
          <p>In hun artikel voor BMGN – Low Countries Historical Review onderzochten historici Gertjan Plets en Marin Kuijt het belang en de invloed van bedrijven uit de Nederlandse olie- en gasindustrie.</p>
        </div>
      </li>
      <li class="newsItem incCard">
        <div class="text">
          <small>2021-09-02	</small>
          <h3><a href="oj-volg.html">Kijk hier: Wat is de invloed van fossiele sponsoring op Nederlandse musea?</a></h3>
          <p>In hun artikel voor BMGN – Low Countries Historical Review onderzochten historici Gertjan Plets en Marin Kuijt het belang en de invloed van bedrijven uit de Nederlandse olie- en gasindustrie.</p>
        </div>
      </li>
      <li class="newsItem incCard">
        <div class="text">
          <small>2021-09-02	</small>
          <h3><a href="oj-volg.html">Kijk hier: Wat is de invloed van fossiele sponsoring op Nederlandse musea?</a></h3>
          <p>In hun artikel voor BMGN – Low Countries Historical Review onderzochten historici Gertjan Plets en Marin Kuijt het belang en de invloed van bedrijven uit de Nederlandse olie- en gasindustrie.</p>
        </div>
      </li>
      <li class="newsItem incCard">
        <div class="text">
          <small>2021-09-02	</small>
          <h3><a href="oj-volg.html">Kijk hier: Wat is de invloed van fossiele sponsoring op Nederlandse musea?</a></h3>
          <p>In hun artikel voor BMGN – Low Countries Historical Review onderzochten historici Gertjan Plets en Marin Kuijt het belang en de invloed van bedrijven uit de Nederlandse olie- en gasindustrie.</p>
        </div>
      </li>
    </ul>
  </section>





  <section class="ojJournals topLine">
    <h2>Journals</h2>
    <ul class="itemsList">
      <li class="journalItem incCard">
        <div class="thumb">
          <img src="images/ojs/logo-bmgn.png" alt="">
        </div>
        <div class="text">
          <h3><a href="oj-volg.html">BMGN – Low Countries Historical Review</a></h3>
          <p>BMGN – Low Countries Historical Review is the leading academic journal for the history of the Netherlands, Belgium and their global presence.</p>
        <div>
      </li>
      <li class="journalItem incCard">
        <div class="thumb">
          <img src="images/ojs/logo-relief.png" alt="">
        </div>
        <div class="text">
          <h3><a href="oj-volg.html">BMGN – Low Countries Historical Review</a></h3>
          <p>BMGN – Low Countries Historical Review is the leading academic journal for the history of the Netherlands, Belgium and their global presence.</p>
        <div>
      </li>
      <li class="journalItem incCard">
        <div class="thumb">
          <img src="images/ojs/logo-bmgn.png" alt="">
        </div>
        <div class="text">
          <h3><a href="oj-volg.html">BMGN – Low Countries Historical Review</a></h3>
          <p>BMGN – Low Countries Historical Review is the leading academic journal for the history of the Netherlands, Belgium and their global presence.</p>
        <div>
      </li>
      <li class="journalItem incCard">
        <div class="thumb">
          <img src="images/ojs/logo-relief.png" alt="">
        </div>
        <div class="text">
          <h3><a href="oj-volg.html">BMGN – Low Countries Historical Review</a></h3>
          <p>BMGN – Low Countries Historical Review is the leading academic journal for the history of the Netherlands, Belgium and their global presence.</p>
        <div>
      </li>
    </ul>
  </section>

  <section class="ojRightBar">
    <div class="topLine"><h2>Twitter</h2></div>
    <div class="topLine"><h2>Newsletter</h2></div>
    <div class="topLine"><h2>Partners</h2></div>

  </section>

  <div class="ojJoin">
    <div class="joinBox">
      <a href="">Join openjournals.nl</a>
    </div>
  </div>
  </div>

  <div class="ojColorBar"> </div>
</div>







  </body>
</html>
