<!DOCTYPE html>
<html lang="en">

<head>
  <title>OJnl Volg</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/ojs-style.css">
  <link rel="shortcut icon" href="images/favicon/favicon.ico">
</head>

<body>

<div class="ojPageWrap">

  <div class="layoutPage inWrap">
    <header class="ojHeader">
      <div class="ojLogo">
        <a href="oj-home.html" title="Go to homepage"><img src="images/ojs/logo-openjournals.png" alt=""></a>
      </div>
    
      <div class="ojLang"><a href="">NL</a><a href="">EN</a></div>
    
      <nav class="ojNav">
        <ul>
          <li><a href="">Journals</a></li>
          <li><a href="">News</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">Sponsors</a></li>
          <li><a href="">About</a></li>
        </ul>
      </nav>
    
    </header>

    <main class="ojMain">
      <h1>Journals</h1>
      <p>Here are all our journals</p>
      <p>In totaal namen de ziekenhuizen in de afgelopen week 1.998 patiënten met COVID-19 op, 7 procent minder dan in de voorgaande week. 343 van hen belandden op de intensive care, 32 minder dan in de voorgaande zeven dagen (-9 procent).</p>
      <p>Verder testten bijna 148.000 mensen in de afgelopen zeven dagen positief op het coronavirus. Dat zijn er iets minder (-4,6 procent) dan in de voorgaande week. Dat aantal is voor het eerst sinds eind september gedaald.</p>
      <p>Volgens het RIVM heeft die afname deels te maken met de aanpassing van het zelftestadvies. Mensen met milde corona-achtige klachten worden nu geadviseerd een zelftest doen. Voorheen gold dit advies met name voor mensen zónder klachten.</p>
      <p>Vrijdag maakte het RIVM al bekend dat het reproductiegetal net onder de 1 was gezakt. Inmiddels is de R-waarde verder gedaald tot 0,95. Zodra de R onder de 1 zakt, neemt het aantal nieuwe besmettingen af in plaats van toe. Vanwege de
        betrouwbaarheid houdt het RIVM altijd de R-waarde van twee weken eerder aan.</p>
    </main>

  </div>
  <div class="ojColorBar"> </div>
</div>



</body>

</html>
